<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }
  .search-input{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
 
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar ms-auto">
      <form action="/listings" method="get" class="d-flex flex-column flex-md-row w-100" role="search">
  <div class="position-relative w-100">
    <input 
      id="searchInput"
      class="form-control me-md-2 mb-2 mb-md-0 search-input" 
      type="search" 
      name="search"
      placeholder="Search Destination"
value="<%= (locals.search || '') %>"
    />
  <% if (locals.search) { %>
  <button type="button" id="clearSearch" class="btn position-absolute top-50 end-0 translate-middle-y me-2 p-0 border-0 bg-transparent">
    <i class="fa-solid fa-xmark"></i>
  </button>
<% } %>

  </div>
  <button class="btn btn-search d-flex align-items-center justify-content-center ms-2" type="submit">
      <i class="fa-solid fa-magnifying-glass me-2"></i>
      Search
  </button>
</form>



      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="listings/new">Add New Listings</a>
        <% if (!currUser) { %>
        <a class="nav-link" href="/signup">SignUp</a>
        <a class="nav-link" href="/login">Log In</a>
        <% } %> <% if (currUser) { %>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<script>
  const clearBtn = document.getElementById("clearSearch");
  const searchInput = document.getElementById("searchInput");

  if (clearBtn) {
    clearBtn.addEventListener("click", () => {
      searchInput.value = "";    // input empty kar do
      searchInput.form.submit(); // form submit ho jaye → sabhi listings dikh jaye
    });
  }
</script>
